<header class="header header-dark">
    <nav class="navbar navbar-expand-lg fixed-top py-3 navbar-dark">
        <div class="container"><a class="navbar-brand"><i class="fas fa-graduation-cap"></i> &nbsp; University of Hyderabad</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse" *ngIf='!showLogin'>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" [routerLink]="['/librarybooks']">Library</a></li>
                    <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" [routerLink]="['/hostalManage']">Hostal</a></li>
                    <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" [routerLink]="['/tutorials']">Online Videos</a></li>
                    <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" (click)="logout()">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body style="margin-top: 120px;">
    <div *ngIf='!showLogin'>
        <router-outlet></router-outlet>
    </div>
    <div *ngIf='showLogin'>
        <app-login></app-login>
    </div>
</body>