<div class="container" style="width: 50%;">
    <div class="card" style="border: 1px solid rgba(0,0,0,.125)!important;">
        <div class="card-body" style="padding-left: 100px;">
            <div class="row">
                <div class="col-md-3">
                    <img class="imgclass" src="../../assets/Images/userProfile.svg">
                </div>
                <div class="col-md-9" style="padding-top: 60px; padding-left: 90px;">
                    <p class="" style="font-weight: 700;">Username: {{userProfile?.username}}</p>
                    <p class="">Email: {{userProfile?.email}}</p>
                    <p class="">Course: {{userProfile?.usercourse}}</p>
                    <p class="">Access: {{userProfile?.useraccess}}</p>
                </div>
            </div>
        </div>
    </div>
</div>