<!-- <button type="button" class="btn btn-primary" (click)="libraryClicked()"> Library </button> <br>
<button type="button" class="btn btn-primary" (click)="hostalManagementClicked()"> Hostal Management </button> <br>
<button type="button" class="btn btn-primary" (click)="videoLecturesClicked()"> Videos Tutorial </button> -->

<!-- For demo purpose -->
<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4">School Management</h1>
        </header>
    </div>
</div>