<div class="container" style="width: 50%;">
    <div class="card" style="border: 1px solid rgba(0,0,0,.125)!important; text-align: center;">
        <div class="card-body">
            <div class="col-md-3" style="text-align: center;">
                <img class="imgclass" src="../../assets/Images/userProfile.svg">
            </div>
            <h5 class="card-title">Username: {{userProfile.username}}</h5>
            <p class="card-text">Email: {{userProfile.email}}</p>
            <p class="card-text">Course: {{userProfile.usercourse}}</p>
            <p class="card-text">Access: {{userProfile.useraccess}}</p>
        </div>
    </div>
</div>