<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="block" class="col-sm-2 control-label">Block Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="block" name="block" placeholder="block" [(ngModel)]="newHostalRoom.block">
                    </div>
                </div>
                <div class="form-group">
                    <label for="hostalNo" class="col-sm-2 control-label">Hostal No</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="hostalNo" name="hostalNo" placeholder="hostalNo" [(ngModel)]="newHostalRoom.hostalNo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="roomCost" class="col-sm-2 control-label">Room Cost</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="roomCost" name="roomCost" placeholder="roomCost" [(ngModel)]="newHostalRoom.roomCost">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" (click)="addNewHostal()">Add Hostal Room</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <img class="imgclass" src="../../assets/Images/add-hostel.png">
        </div>
    </div>
</div>